**/bin
**/obj
*.user
*.suo
*.gpState
*.docstates
Bin/*.dll
Bin/*.exe
Bin/*.config
Bin/*.xml
Bin/*.pdb
Bin/*.manifest
Bin/*.tmp
Bin/de
Bin/ru
Bin/ServerAssemblies/*
Doc/~$*.docx
Libraries/.svn
Libraries/BLToolkit/*
Libraries/BLToolkitDotConnect/*.dll
Libraries/BLToolkitDotConnect/*.pdb
Libraries/BLToolkitDotConnect/.svn
Libraries/NLog/*
Libraries/Zyan/*
Packages/netfx-System.StringFormatWith.1.0.0.13/*
Packages/netfx-System.StringResources.1.0.0.9/*
Bin/ClientModuleCache/*
Bin/ClientModules/*
Bin/*.XML
Libraries/DevExpress/*
Bin/UnitTests/*
StyleCop.Cache
Libraries/Microsoft/*
Libraries/StyleCop/*
Libraries/Sprache/*
Libraries/Mef2/*
Libraries/SmartFormat
Libraries/ZetaResourceEditor/*
Libraries/RaptorDB/*
TestResults/UltimaKernel.Tests*
_ReSharper.UltimaKernel/*
Libraries/Mef1p5/*
Libraries/Mef1p7/*
TestResults/*
Bin/TestScript/*
msbuild.log
Libraries/FastColoredTextBox/FastColoredTextBox*.*
Bin/Scripts/*
Distrib/*
*.orig
Libraries/RaptorDB/*
Libraries/ManagedEsent/*
*/_ReSharper.*/*
Bin/es
Bin/ja
Bin/PrintServer/*
Libraries/Roslyn/*
Libraries/BLToolkitDotConnect/*.bk1
UltimaKernel.sln.ide/graph/UltimaKernel.sln.ide
*.log
Keys/*.dll
Keys/*.pdb
Keys/*.exe
activity*.png
Libraries/Menees/*
Libraries/BLToolkitDotConnect/BLToolkitProviderSources/BLToolkit.DotConnectOracle.4.sln.ide/graph/BLToolkit.DotConnectOracle.4.sln.ide
Libraries/Moq/*
ThirdParty/*
Bin/Android/Debug/*
Libraries/UltimaLib/obj.Android/*
Libraries/UltimaLib/obj.old/*
Bin/*.exe.profile
*.userprefs
MobileMvvm/packages/Fody.1.17.4.0
MobileMvvm/packages/MvvmCross.3.0.13
MobileMvvm/packages/MvvmCross.HotTuna.CrossCore.3.0.13
MobileMvvm/packages/MvvmCross.HotTuna.MvvmCrossLibraries.3.0.13
MobileMvvm/packages/MvvmCross.HotTuna.StarterPack.3.0.13
MobileMvvm/packages/MvvmCross.PortableSupport.3.0.13
MobileMvvm/packages/PropertyChanged.Fody.1.41.0.0
MobileMvvm/packages/MvvmCross.HotTuna.Plugin.Json.3.0.13
MobileMvvm/packages/Microsoft.Bcl.1.0.19
MobileMvvm/packages/Microsoft.Bcl.Async.1.0.16
MobileMvvm/packages/Microsoft.Bcl.Build.1.0.10
MobileMvvm/packages/Zyan.2.5
Bin/Android/Release/*
Bin/UltimaWMS/*
MobileMvvm/packages/*
Bin/VersionUpgrade/*
UltimaKernel.sln.ide
UpgradeLog.htm
Bin/ConsoleTestRunner
.vs
*.bak
*.bk?
Libraries/VirtualTotals/VirtualTotals.sln.GhostDoc.xml
Bin/Coverage.Log
Libraries/IconLib/IconLib/IconLib.csproj.GhostDoc.xml
Libraries/UltimaLib/UltimaLib.sln.GhostDoc.xml
Bin/*.nlp
MobileMvvm/ScannerEmulator/scan.*
Bin/*.mdb
*.mdb
*.apk
*.psess
*.vspx
Keys/UltimaLicense.xml
Keys/UltimaLicense.xml.*
Output-Build.txt
Keys/BgiLicense.xml
Keys/1.cs
MobileMvvm/Components/*
UltimaSerializer.sln
Bin/UltimaServerImplementation.zip
.axoCover
Bin/ClientUpdater/Client.zip
Bin/Views
Bin/Content
node_modules
WebClient/ultima-webservices/build
WebClient/ultima-client/build
WebClient/ultima-client/packages/json-services-client/coverage
WebClient/ultima-client/packages/json-services-client/dist/
WebClient/ultima-client/packages/json-rest-client/dist
WebClient/ultima-client/packages/ultima-components/dist/
WebClient/ultima-client/packages/ultima-utils/dist/
WebClient/ultima-client/packages/ultima-client/build/
WebClient/1.js
WebClient/ultima-webservices-old/
WebClient/ultima-webservices-tmp
Bin/ClientUpdaterExecutable
Libraries/UltimaLib/obj.ClientLoader/
Libraries/UltimaLib/obj.ClientUpdater/
.temp
**/Debug/*.dll
**/Debug/*.exe
**/Debug/*.pdb
**/Debug/*.xml
/WebClient/ultima-webservices-bak
/WebClient/ultima-webservices-new-empty
/WebClient/ultima-webservices/.eslintcache
